@charset "utf-8";
.hideDlg {
    display: none;
}

.showDlg {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border: 0px;
    height: 500px;
    width: 400px;
    position: absolute;
    display: block;
    z-index: 999;
}

.showDeck {
    display: block;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    background: black;
}

.ContentDiv {
    top: 30px;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
}

.TitleDiv {
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    background: black;
}

.hideDeck {
    display: none;
}